altgraph==0.17.4
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
idna==3.7
packaging==24.0
pefile==2023.2.7
pyee==11.1.0
pyinstaller==6.7.0
pyinstaller-hooks-contrib==2024.6
pywin32-ctypes==0.2.2
requests==2.31.0
setuptools==70.0.0
style==1.1.0
touchportal-api==1.7.10
typing_extensions==4.11.0
update==0.0.1
urllib3==2.2.1
